{% extends 'news/base.html' %}
{% load static %}

{% block title %} Password change {% endblock title %}
{% block content %}
<section class="main_login">
	<main class="main login ">
		<div class="container">
			<section class="wrapper">
				<div class="heading">
					<h1 class="text text-large">Password reset</h1>
					<p class="text text-normal">
						New user?
						<span>
							<a href="./signup.html" class="text text-links">Create an account</a>
						</span>
					</p>
				</div>
				<form name="signin" class="form">{% csrf_token %}
					<div class="input-control">
						<label for="old_password" class="input-label" hidden>OLd password</label>
						<input type="password" name="old_password" id="old_password" class="input-field" placeholder="Old password">
					</div>
					<div class="input-control">
						<label for="new_password" class="input-label" hidden>New password</label>
						<input type="password" name="new_password1" id="new_password" class="input-field" placeholder="New password">
					</div>
					<div class="input-control">
						<label for="old_password2" class="input-label" hidden>New password confirmation</label>
						<input type="password" name="new_password2" id="old_password2" class="input-field" placeholder="New password confirmation">
					</div>
					<div class="input-control">
						<a href="#!" type="submit" name="submit" class="input-submit login-bg-gray my-2 text-center">
							Sign In
						</a>
						<button type="submit" name="submit" class="input-submit login-bg-blue">Sent</button>
					</div>
					<div class="d-flex flex-column">
						<a href="#!" type="submit" name="submit" class="input-submit login-bg-red my-2 text-center">
							password recovery
						</a>
					</div>
				</form>
			</section>
		</div>
		</div>
	</main>
	{% comment %} <form name="signin" class="form">{% csrf_token %}
		{{ form.as_p }}
		<button type="submit" name="submit" class="input-submit login-bg-blue">change</button>
	</form> {% endcomment %}
</section>
{% endblock content %}