{% extends 'news/base.html' %}
{% load static %}

{% block title %} {{ user.username }} {% endblock title %}
{% block content %}

  <div class="container rounded bg-white mt-5">
    <div class="row align-items-center">
      <div class="col-md-4 border-right">
        <div class="d-flex flex-column align-items-center text-center p-3 py-5">
          <img class="rounded-circle mt-5" src="{% static 'images/person-1.jpg' %}" width="90">
          <span class="font-weight-bold">{{ user.first_name }} {{ user.last_name }}</span>
          <span class="text-black-50">{{ user.email }}</span>
          <span>{{ user.username }}</span>
        </div>
      </div>
      <div class="col-md-8">
        <div class="p-3 py-5">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h1>You can edit your profile</h1>
          </div>
          <div class="row mt-3">
            <div class="col-md-6 mt-4">
              <input type="text" name="username" class="form-control" placeholder="Username" value="Javohir-dev" disabled>
            </div>
            <div class="col-md-6 mt-4">
              <input ype="text" name="forst_name" class="form-control" placeholder="Email" value="javohir.py@gmail.com" disabled>
            </div>
            <div class="col-md-6 mt-4">
              <input type="text" name="forst_name" class="form-control" placeholder="first name" value="John" disabled>
            </div>
            <div class="col-md-6 mt-4">
              <input type="text" name="last_name" class="form-control" placeholder="last name" value="Doe" disabled>
            </div>
          </div>
          <div class="mt-5 text-right">
            <a href="{% url 'password_change_page' %}" class="btn btn-primary profile-button" type="button">Change password</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}