{% extends 'news/base.html' %}
{% load static %}

{% block title %} {{ news.title }} {% endblock title %}
{% block content %}
<div class="container custom_form">
    <div class="row">
      <div class="col-lg-12 text-center mb-5">
        <h1 class="page-title">Add new</h1>
      </div>
    </div>
    <form method="post" enctype="multipart/form-data" role="form">{% csrf_token %}
        <div>
            {{ form.as_p }}
            <button type="submit" class="btn btn-secondary px-3">Add</button>
        </div>
    </form>
  </div>
{% endblock content %}