{% extends 'news/base.html' %}
{% load static %}

{% block title %} Password Reset page {% endblock title %}
{% block content %}
<section class="main_login">
	<main class="main login ">
		<div class="container">
			<section class="wrapper">
				<div class="heading">
					<h1 class="text text-large">Password reset</h1>
					<p class="text text-normal">
						New user?
						<span>
							<a href="./signup.html" class="text text-links">Create an account</a>
						</span>
					</p>
				</div>
				<form name="signin" class="form">
					<div class="input-control">
						<label for="username" class="input-label" hidden>User name</label>
						<input type="username" name="username" id="username" class="input-field" placeholder="Username Address">
					</div>
					<div class="input-control">
						<label for="password" class="input-label" hidden>Password</label>
						<input type="password" name="password" id="password" class="input-field" placeholder="Password">
					</div>
					<div class="input-control">
						<a href="#!" type="submit" name="submit" class="input-submit login-bg-gray my-2 text-center">
							Sign In
						</a>
						<button type="submit" name="submit" class="input-submit login-bg-blue">Sent</button>
					</div>
					<div class="d-flex flex-column">
						<a href="#!" type="submit" name="submit" class="input-submit login-bg-red my-2 text-center">
							password recovery
						</a>
					</div>
				</form>
			</section>
		</div>
		</div>
	</main>
</section>
{% endblock content %}