{% extends 'news/base.html' %}
{% load static %}

{% block title %} Sign-Up page {% endblock title %}
{% block content %}
<section class="main_login">
	<!-- <a href="./index.html" target="_blank" rel="noopener noreferrer">Go Back</a> -->
	<main class="login">
		<div class="container">
			<section class="wrapper">
				<div class="heading">
					<h1 class="text text-large">Sign Up</h1>
					<p class="text text-normal">
						Already have an account?
						<span>
							<a href="./login.html" class="text text-links">
								LogIn
							</a>
						</span>
					</p>
				</div>
				<form name="signin" class="form">
					<div class="input-control">
						<input type="username" name="username" id="username" class="input-field" placeholder="Username" />
					</div>
					<div class="input-control">
						<input type="firstname" name="firstname" id="firstname" class="input-field" placeholder="Firstname" />
					</div>
					<div class="input-control">
						<input type="lastname" name="lastname" id="lastname" class="input-field" placeholder="Lastname" />
					</div>
					<div class="input-control">
						<input type="email" name="email" id="email" class="input-field" placeholder="Email Address" />
					</div>
					<div class="input-control">
						<input type="password" name="password" id="password" class="input-field" placeholder="Password" />
					</div>
					<div class="input-control">
						<input type="password" name="password2" id="password2" class="input-field"
							placeholder="Confirm Password" />
					</div>
					<div class="input-control">
						<a href="#" class="text text-links">Forgot Password</a>
						<button type="submit" name="submit" class="input-submit login-bg-blue">Sign In</button>
					</div>
				</form>
				<div class="form">
					<div class="d-flex flex-column">
						<a href="#!" type="submit" name="submit" class="input-submit login-bg-red my-2 text-center">
							password recovery
						</a>
					</div>
				</div>
			</section>
		</div>
		</div>
	</main>
</section>
{% endblock content %}